In [55]:
#  Notebook DISPLAY options:
#      Represent pandas DataFrames as text; not HTML representation:
import pandas as pd
import numpy as np
pd.set_option( 'display.notebook_repr_html', False )
#  Beware, for MATH display, use %%latex, NOT the following:
#                   from IPython.display import Math
#                   from IPython.display import Latex
from IPython.display import HTML # useful for snippets
#  e.g. HTML('<iframe src=http://en.mobile.wikipedia.org/?useformat=mobile width=700 height=350></iframe>')
from IPython.display import Image 
#  e.g. Image(filename='holt-winters-equations.png', embed=True) # url= also works
from IPython.display import YouTubeVideo
#  e.g. YouTubeVideo('1j_HxD4iLn8', start='43', width=600, height=400)
from IPython.core import page
get_ipython().set_hook('show_in_pager', page.as_hook(page.display_page), 0)
#  Or equivalently in config file: "InteractiveShell.display_page = True", 
#  which will display results in secondary notebook pager frame in a cell.

#  Generate PLOTS inside notebook, "inline" generates static png:
%matplotlib inline   
#          "notebook" argument allows interactive zoom and resize.

In [56]:

#            https cannot be read by lxml, surprisingly.
#druck150814='http://www.sec.gov/Archives/edgar/data/1536411/000153641115000006/xslForm13F_X01/form13f_20150630.xml'

## main variable for different reports
report_suffix = 'edgar/data/1000275/0001140361-14-007922-index.html'
investor = 'ROYAL BANK OF CANADA'
date = '2014-02-14'
stem = 'http://www.sec.gov/Archives/'
xml_suffix = '/xslForm13F_X01/form13fInfoTable.xml'

report_suffix = report_suffix.replace('-index.html', '')
report_suffix = report_suffix.replace('-', '')

#     START HERE with a particular URL:
url = stem + report_suffix + xml_suffix
print(url)

# https://www.sec.gov/Archives/edgar/data/1000275/000114036114007922/xslForm13F_X01/form13fInfoTable.xml

http://www.sec.gov/Archives/edgar/data/1000275/000114036114007922/xslForm13F_X01/form13fInfoTable.xml

In [57]:
#  Let's display the web page as in the browser to understand the semantics:
#HTML("<iframe src=" + url + " width=1400 height=350></iframe>")

In [58]:
#  Use pandas to read in the xml page...
#  See http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_html.html

#  It searches for <table> elements and only for <tr> and <th> rows and <td> elements 
#  within each <tr> or <th> element in the table.

page = pd.read_html( url )

In [59]:
#  page is a list of length 4:
#len( page )

In [60]:
#  But only the last element of page interests us:
df = page[-1]
#  which turns out to be a dataframe!

In [61]:

#  Let's rename columns for our sanity:
df.columns = [ 'stock', 'class', 'cusip', 'usd', 'size', 'sh_prin', 'putcall', 'discret', 'manager', 'vote1', 'vote2', 'vote3']

In [62]:
#  But first three rows are SEC labels, not data, 
#  so delete them:
df = df[3:]

#  Start a new index from 0 instead of 3:
df.reset_index( drop=True )

                              stock           class      cusip    usd    size  \
0                          AAR CORP             COM  000361105     78    2789
1                          AAR CORP             COM  000361105     21     750
2                           ABB LTD   SPONSORED ADR  000375204    535   20138
3                           ABB LTD   SPONSORED ADR  000375204   2854  107471
4                           ABB LTD   SPONSORED ADR  000375204  19332  727877
5                           ABB LTD   SPONSORED ADR  000375204    136    5137
6                           ABB LTD   SPONSORED ADR  000375204   1255   47270
7                           ABB LTD   SPONSORED ADR  000375204    135    5095
8                           ABB LTD   SPONSORED ADR  000375204    398   15000
9                           ABB LTD   SPONSORED ADR  000375204   1343   50571
10                          ABB LTD   SPONSORED ADR  000375204     32    1204
11                     ABM INDS INC             COM  000957100    108    3795
12                     ABM INDS INC             COM  000957100      1      38
13                     AEP INDS INC             COM  001031103     39     741
14                        AFLAC INC             COM  001055102  33348  499227
15                        AFLAC INC             COM  001055102   7427  111177
16                        AFLAC INC             COM  001055102   8454  126555
17                        AFLAC INC             COM  001055102    321    4800
18                        AFLAC INC             COM  001055102  18558  277812
19                        AFLAC INC             COM  001055102    435    6508
20                        AFLAC INC             COM  001055102   1027   15372
21                        AFLAC INC             COM  001055102    668   10000
22                        AFLAC INC             COM  001055102    452    6765
23                        AFLAC INC             COM  001055102      5      78
24                        AGCO CORP             COM  001084102   1350   22811
25                        AGCO CORP             COM  001084102   2035   34381
26                        AGCO CORP             COM  001084102    348    5884
27                        AGCO CORP             COM  001084102      9     148
28                      AGL RES INC             COM  001204106     20     433
29                      AGL RES INC             COM  001204106    895   18946
...                             ...             ...        ...    ...     ...
17331     KNOT OFFSHORE PARTNERS LP       COM UNITS  Y48125101    133    4750
17332        NAVIGATOR HOLDINGS LTD             SHS  Y62132108     20     748
17333  NAVIOS MARITIME HOLDINGS INC             COM  Y62196103    246   22002
17334  NAVIOS MARITIME HOLDINGS INC             COM  Y62196103      4     394
17335  NAVIOS MARITIME PARTNERS L P        UNIT LPI  Y62267102   3968  207520
17336  NAVIOS MARITIME PARTNERS L P        UNIT LPI  Y62267102     38    2000
17337  NAVIOS MARITIME PARTNERS L P        UNIT LPI  Y62267102     94    4900
17338             OCEAN RIG UDW INC             SHS  Y64354205    215   11149
17339             OCEAN RIG UDW INC             SHS  Y64354205   5776  300068
17340             OCEAN RIG UDW INC             SHS  Y64354205     37    1900
17341              SAFE BULKERS INC             COM  Y7388L103    385   37000
17342              SAFE BULKERS INC             COM  Y7388L103    413   39700
17343           SCORPIO TANKERS INC             SHS  Y7542C106     30    2532
17344           SCORPIO TANKERS INC             SHS  Y7542C106      9     800
17345         SEADRILL PARTNERS LLC  COMUNIT REP LB  Y7545W109     68    2200
17346                  SEASPAN CORP             SHS  Y75638109     46    2000
17347                  SEASPAN CORP             SHS  Y75638109   1066   46455
17348                  SEASPAN CORP             SHS  Y75638109      9     400
17349       TEEKAY LNG PARTNERS L P   PRTNRSP UNITS  Y8564M105   2612   61164
17350       TEEKAY LNG PARTNERS L P   PRTNRSP UNITS  Y8564M105     37     863
17351       TEEKAY LNG PARTNERS L P   PRTNRSP UNITS  Y8564M105     51    1200
17352            TEEKAY CORPORATION             COM  Y8564W103    925   19268
17353            TEEKAY CORPORATION             COM  Y8564W103     71    1487
17354            TEEKAY CORPORATION             COM  Y8564W103      3      70
17355  TEEKAY OFFSHORE PARTNERS L P  PARTNERSHIP UN  Y8565J101    228    6877
17356  TEEKAY OFFSHORE PARTNERS L P  PARTNERSHIP UN  Y8565J101    245    7411
17357            TEEKAY TANKERS LTD            CL A  Y8565N102     69   17600
17358            TEEKAY TANKERS LTD            CL A  Y8565N102    321   81626
17359            TEEKAY TANKERS LTD            CL A  Y8565N102      0      60
17360                 TOP SHIPS INC             SHS  Y8897Y123      0      16

      sh_prin putcall discret manager   vote1  vote2  vote3
0          SH     NaN    DFND       2    2789      0      0
1          SH     NaN    DFND       3       0      0    750
2          SH     NaN    DFND       2   20138      0      0
3          SH     NaN    DFND       3  101086      0   6385
4          SH     NaN    DFND       5  727877      0      0
5          SH     NaN    DFND       7       0   5137      0
6          SH     NaN    DFND       8   47270      0      0
7          SH     NaN    DFND      15    5095      0      0
8          SH     NaN    DFND      16   15000      0      0
9          SH     NaN    DFND     5;1   50571      0      0
10         SH     NaN    SOLE     NaN    1204      0      0
11         SH     NaN    DFND       3    3795      0      0
12         SH     NaN    DFND      15      38      0      0
13         SH     NaN    DFND       2     741      0      0
14         SH     NaN    DFND       1  499227      0      0
15         SH     NaN    DFND       2  111177      0      0
16         SH     NaN    DFND       3  107480      0  19075
17         SH     Put    DFND       3    4800      0      0
18         SH     NaN    DFND       5  277812      0      0
19         SH     NaN    DFND       7       0   6508      0
20         SH     NaN    DFND       8    3152  12220      0
21         SH     NaN    DFND      14   10000      0      0
22         SH     NaN    DFND      15    6765      0      0
23         SH     NaN    SOLE     NaN      78      0      0
24         SH     NaN    DFND       2   22811      0      0
25         SH     NaN    DFND       3   33227      0   1154
26         SH     NaN    DFND       5    5884      0      0
27         SH     NaN    DFND      15     148      0      0
28         SH     NaN    DFND       1     433      0      0
29         SH     NaN    DFND       2   18946      0      0
...       ...     ...     ...     ...     ...    ...    ...
17331      SH     NaN    DFND       3    4750      0      0
17332      SH     NaN    DFND       2     748      0      0
17333      SH     NaN    DFND       2   22002      0      0
17334      SH     NaN    DFND      15     394      0      0
17335      SH     NaN    DFND       3  190971      0  16549
17336      SH     NaN    DFND      13    2000      0      0
17337      SH     NaN    DFND      15    4900      0      0
17338      SH     NaN    DFND       2   11149      0      0
17339      SH     NaN    DFND       3  300061      0      7
17340      SH     NaN    DFND       5    1900      0      0
17341      SH     NaN    DFND       3   26000      0  11000
17342      SH     NaN    DFND       4       0      0  39700
17343      SH     NaN    DFND       5    2532      0      0
17344      SH     NaN    DFND      16     800      0      0
17345      SH     NaN    DFND       3    2200      0      0
17346      SH     NaN    DFND       3    1000      0   1000
17347      SH     NaN    DFND       5   46455      0      0
17348      SH     NaN    DFND       9     400      0      0
17349      SH     NaN    DFND       3   56544      0   4620
17350      SH     NaN    DFND       5     863      0      0
17351      SH     NaN    DFND      15    1200      0      0
17352      SH     NaN    DFND       3   17468      0   1800
17353      SH     NaN    DFND       5    1487      0      0
17354      SH     NaN    DFND      15      70      0      0
17355      SH     NaN    DFND       2    6877      0      0
17356      SH     NaN    DFND       3    6208      0   1203
17357      SH     NaN    DFND       4       0      0  17600
17358      SH     NaN    DFND       5   81626      0      0
17359      SH     NaN    DFND       8      60      0      0
17360      SH     NaN    DFND       3      16      0      0

[17361 rows x 12 columns]

In [63]:

#  Delete irrevelant columns:
dflite = df.drop( df.columns[[1, 4, 5, 7, 8, 9, 10, 11]], axis=1 )
#         inplac=True only after pandas 0.13
#uncomment: dflite

In [64]:
#  usd needs float type since usd was read as string:
dflite[['usd']] = dflite[['usd']].astype( float )
#                  Gotcha: int as type will fail for NaN

#  Type change allows proper sort:
dfusd = dflite.sort_values( by=['usd'], ascending=[False] )

In [65]:
usdsum = sum( dfusd.usd )
#  Portfolio total in USD:
#usdsum

In [66]:
#  New column for percentage of total portfolio:
dfusd['pcent'] = np.round(( dfusd.usd / usdsum ) * 100, 2)

In [67]:
# New column for investor'
dfusd['investor'] = investor
# New column for date
dfusd['date'] = date

In [68]:
#  Top 20 Hits!
dfusd.head( 20 )

                             stock      cusip        usd putcall  pcent  \
8417       TORONTO DOMINION BK ONT  891160509  3642949.0     NaN   2.59
7356     ROYAL BK CDA MONTREAL QUE  780087102  2945818.0     NaN   2.09
8401       TORONTO DOMINION BK ONT  891160509  2899273.0     NaN   2.06
906               BANK N S HALIFAX  064149107  2612783.0     NaN   1.85
921               BANK N S HALIFAX  064149107  2289675.0     NaN   1.62
893              BANK MONTREAL QUE  063671101  1898713.0     NaN   1.35
7991         SUNCOR ENERGY INC NEW  867224107  1621771.0     NaN   1.15
10223                      BCE INC  05534B760  1469765.0     NaN   1.04
1518           CANADIAN NATL RY CO  136375102  1457145.0     NaN   1.03
1516   CDN IMPERIAL BK OF COMMERCE  136069101  1393651.0     NaN   0.99
11603                 ENBRIDGE INC  29250N105  1385708.0     NaN   0.98
1533          CANADIAN NAT RES LTD  136385101  1378183.0     NaN   0.98
11590                 ENBRIDGE INC  29250N105  1274893.0     NaN   0.90
15869             TRANSCANADA CORP  89353D107  1239622.0     NaN   0.88
15883             TRANSCANADA CORP  89353D107  1231244.0     NaN   0.87
1502   CDN IMPERIAL BK OF COMMERCE  136069101  1217971.0     NaN   0.86
879              BANK MONTREAL QUE  063671101  1183528.0     NaN   0.84
13198           MANULIFE FINL CORP  56501R106  1152145.0     NaN   0.82
1241     BROOKFIELD ASSET MGMT INC  112585104  1082436.0     NaN   0.77
8339          THOMSON REUTERS CORP  884903105   955858.0     NaN   0.68

                   investor        date
8417   ROYAL BANK OF CANADA  2014-02-14
7356   ROYAL BANK OF CANADA  2014-02-14
8401   ROYAL BANK OF CANADA  2014-02-14
906    ROYAL BANK OF CANADA  2014-02-14
921    ROYAL BANK OF CANADA  2014-02-14
893    ROYAL BANK OF CANADA  2014-02-14
7991   ROYAL BANK OF CANADA  2014-02-14
10223  ROYAL BANK OF CANADA  2014-02-14
1518   ROYAL BANK OF CANADA  2014-02-14
1516   ROYAL BANK OF CANADA  2014-02-14
11603  ROYAL BANK OF CANADA  2014-02-14
1533   ROYAL BANK OF CANADA  2014-02-14
11590  ROYAL BANK OF CANADA  2014-02-14
15869  ROYAL BANK OF CANADA  2014-02-14
15883  ROYAL BANK OF CANADA  2014-02-14
1502   ROYAL BANK OF CANADA  2014-02-14
879    ROYAL BANK OF CANADA  2014-02-14
13198  ROYAL BANK OF CANADA  2014-02-14
1241   ROYAL BANK OF CANADA  2014-02-14
8339   ROYAL BANK OF CANADA  2014-02-14

In [77]:
url = 'https://www.sec.gov/Archives/edgar/data/1000275/0001140361-14-007922-index.html'
print(url)

https://www.sec.gov/Archives/edgar/data/1000275/0001140361-14-007922-index.html

In [78]:
page = pd.read_html( url )

In [79]:
len( page )

1

In [80]:
df = page[0]

In [81]:
df

     0                              1                         2  \
0  Seq                    Description                  Document
1    1                            NaN          primary_doc.html
2    1                            NaN           primary_doc.xml
3    2                            NaN     form13fInfoTable.html
4    2                            NaN      form13fInfoTable.xml
5  NaN  Complete submission text file  0001140361-14-007922.txt

                   3        4
0               Type     Size
1             13F-HR      NaN
2             13F-HR     6749
3  INFORMATION TABLE      NaN
4  INFORMATION TABLE  8162722
5                NaN  8170835

In [82]:
df[2].iloc[4]

'form13fInfoTable.xml'